.list-group-item{
    background-color:rgba(255,255,255,0);
    color:#fff;
}
.list-group-item.active{
   background-color:#43c661;
   border:none;
}
.list-group-item:first-child{
    border-radius: 0;
}
.list-group-item-action:focus, .list-group-item-action:hover{
    background-color:#3cb258;
    color:#fff;
}