.message{
	border: 2px solid black;
	margin: 10px auto;
	padding: 10px;
}

.message-time{
	font-size: 12px;
	float: right;
}

.message-text{
	font-size: 18px;
	color: #555;
}

.user{
	font-weight: bold;
	color: red;
}

.deleted{
	background-color: #888;
}